@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-green: #1b7e2f;
  --brand-green-hover: #156325;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);

  --color-brand: var(--brand-green);
  --color-brand-hover: var(--brand-green-hover);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Rubik, Arial, sans-serif;
}
